<head>
    <link rel="stylesheet" href="/css/stylesindex.css">
</head>

<main class="index">
    <header class="masthead">
        <div class="container text-center my-auto">
            <h1 class="mb-1">LINKS FAVORITOS</h1>
            <h3 class="mb-5">
                <em>Almacena tus links favoritos</em>
            </h3>
            <a href="/loguin" class="btn btn-primary btn-lg ">Empecemos <i class="fa-solid fa-bullseye-pointer"></i></a>
        </div>
    </header>
</main>